<div>
    <h2 id="page-heading">
        <span jhiTranslate="emisAuthApp6App.consent.home.title">Consents</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-consent" [routerLink]="['/consent/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="emisAuthApp6App.consent.home.createLabel">
            Create new Consent
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="consents">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="emisAuthApp6App.consent.parentConsentId">Parent Consent Id</span></th>
            <th><span jhiTranslate="emisAuthApp6App.consent.entityKey">Entity Key</span></th>
            <th><span jhiTranslate="emisAuthApp6App.consent.entityKeyType">Entity Key Type</span></th>
            <th><span jhiTranslate="emisAuthApp6App.consent.fieldValue">Field Value</span></th>
            <th><span jhiTranslate="emisAuthApp6App.consent.endDate">End Date</span></th>
            <th><span jhiTranslate="emisAuthApp6App.consent.fieldName">Field Name</span></th>
            <th><span jhiTranslate="emisAuthApp6App.consent.signedDate">Signed Date</span></th>
            <th><span jhiTranslate="emisAuthApp6App.consent.startDate">Start Date</span></th>
            <th><span jhiTranslate="emisAuthApp6App.consent.active">Active</span></th>
            <th><span jhiTranslate="emisAuthApp6App.consent.authorisorName">Authorisor Name</span></th>
            <th><span jhiTranslate="emisAuthApp6App.consent.authorisorEmailAddress">Authorisor Email Address</span></th>
            <th><span jhiTranslate="emisAuthApp6App.consent.metadataKey">Metadata Key</span></th>
            <th><span jhiTranslate="emisAuthApp6App.consent.metadataValue">Metadata Value</span></th>
            <th><span jhiTranslate="emisAuthApp6App.consent.consentType">Consent Type</span></th>
            <th><span jhiTranslate="emisAuthApp6App.consent.agreement">Agreement</span></th>
            <th><span jhiTranslate="emisAuthApp6App.consent.user">User</span></th>
            <th><span jhiTranslate="emisAuthApp6App.consent.useCase">Use Case</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let consent of consents ;trackBy: trackId">
                <td><a [routerLink]="['/consent', consent.id, 'view' ]">{{consent.id}}</a></td>
                <td>{{consent.parentConsentId}}</td>
                <td>{{consent.entityKey}}</td>
                <td>{{consent.entityKeyType}}</td>
                <td>{{consent.fieldValue}}</td>
                <td>{{consent.endDate | date:'medium'}}</td>
                <td>{{consent.fieldName}}</td>
                <td>{{consent.signedDate | date:'medium'}}</td>
                <td>{{consent.startDate | date:'medium'}}</td>
                <td>{{consent.active}}</td>
                <td>{{consent.authorisorName}}</td>
                <td>{{consent.authorisorEmailAddress}}</td>
                <td>{{consent.metadataKey}}</td>
                <td>{{consent.metadataValue}}</td>
                <td jhiTranslate="{{'emisAuthApp6App.ConsentType.' + consent.consentType}}">{{consent.consentType}}</td>
                <td>
                    <div *ngIf="consent.agreement">
                        <a [routerLink]="['../agreements', consent.agreement?.id, 'view' ]" >{{consent.agreement?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="consent.user">
                        <a [routerLink]="['../signed-up-users', consent.user?.id, 'view' ]" >{{consent.user?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="consent.useCase">
                        <a [routerLink]="['../use-case', consent.useCase?.id, 'view' ]" >{{consent.useCase?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/consent', consent.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/consent', consent.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'consent', { outlets: { popup: consent.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
