<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="organisationGroups">
            <h2><span jhiTranslate="emisAuthApp6App.organisationGroups.detail.title">Organisation Groups</span> {{organisationGroups.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="emisAuthApp6App.organisationGroups.organisationGroup">Organisation Group</span></dt>
                <dd>
                    <span>{{organisationGroups.organisationGroup}}</span>
                </dd>
                <dt><span jhiTranslate="emisAuthApp6App.organisationGroups.organisationId">Organisation Id</span></dt>
                <dd>
                    <span>{{organisationGroups.organisationId}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/organisation-groups', organisationGroups.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
