<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="usersInOrganisations">
            <h2><span jhiTranslate="emisAuthApp6App.usersInOrganisations.detail.title">Users In Organisations</span> {{usersInOrganisations.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="emisAuthApp6App.usersInOrganisations.organisation">Organisation</span></dt>
                <dd>
                    <span>{{usersInOrganisations.organisation}}</span>
                </dd>
                <dt><span jhiTranslate="emisAuthApp6App.usersInOrganisations.username">Username</span></dt>
                <dd>
                    <span>{{usersInOrganisations.username}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/users-in-organisations', usersInOrganisations.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
