<div>
    <h2 id="page-heading">
        <span jhiTranslate="emisAuthApp6App.organisationEndpoint.home.title">Organisation Endpoints</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-organisation-endpoint" [routerLink]="['/organisation-endpoint/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="emisAuthApp6App.organisationEndpoint.home.createLabel">
            Create new Organisation Endpoint
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="organisationEndpoints">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="emisAuthApp6App.organisationEndpoint.orgGUID">Org GUID</span></th>
            <th><span jhiTranslate="emisAuthApp6App.organisationEndpoint.cbd">Cbd</span></th>
            <th><span jhiTranslate="emisAuthApp6App.organisationEndpoint.name">Name</span></th>
            <th><span jhiTranslate="emisAuthApp6App.organisationEndpoint.serverName">Server Name</span></th>
            <th><span jhiTranslate="emisAuthApp6App.organisationEndpoint.databaseName">Database Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let organisationEndpoint of organisationEndpoints ;trackBy: trackId">
                <td><a [routerLink]="['/organisation-endpoint', organisationEndpoint.id, 'view' ]">{{organisationEndpoint.id}}</a></td>
                <td>{{organisationEndpoint.orgGUID}}</td>
                <td>{{organisationEndpoint.cbd}}</td>
                <td>{{organisationEndpoint.name}}</td>
                <td>{{organisationEndpoint.serverName}}</td>
                <td>{{organisationEndpoint.databaseName}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/organisation-endpoint', organisationEndpoint.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/organisation-endpoint', organisationEndpoint.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'organisation-endpoint', { outlets: { popup: organisationEndpoint.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
